//WideScreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
//Desktops and Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
//Tablets and Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 12px;

    .nav-link {
      font-size: 30px;
    }
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/small.jpg");
      width: 150px;
      height: 150px;
    }
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .boxes {
    grid-template-columns: 1fr;
  }
}
//Smarthphones
@include mediaSm {
  main {
    font-size: 0.7rem;
    padding: 0.2rem;
  }
  main#home h1 {
    font-size: 3rem;
    margin-top: 10vh;
  }
  .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .nav-link {
    font-size: 20px;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  main#home {
    .center {
      margin-top: 20vh;
      h1 {
        font-size: 4.4rem;
        padding: 0.9rem;
      }
      h2 {
        font-size: 1.4rem;
        padding: 0.9rem;
      }
      a {
        font-size: 1.4rem;
      }
    }
  }
}
